.imgbox{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.mmm{
    height: 100%;
    width: 100%;
    background: url('ggg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    
    
}


.har{
    width:320px;
    height: 420px;
    background-color: #1b1a1a;
    border: 1px solid  #000 ;
    position: absolute;
    left:110px;
    right: 120px;
    top: 120px;
    bottom: 120px;
    opacity: 0.8;
    

    
}
.insidef{
    padding: 30px 15px;
    font-family: sans-serif;
    color: oldlace;
    position: absolute;
    left: 115px;
    top: 200px;
    width: 300px;
    height: 400px;
    opacity: 1;
}

.word{
    position: absolute;
    left: 1000px;
    bottom: 340px;
    font-family: 'Chela One', cursive;
    font-weight: bold;
    font-size:110px;
    color: cornflowerblue;
}

.m1{
    font-family: 'Bree Serif';
    font-size:40px;
    color: cornflowerblue;
    text-align: center;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 200px;
    
    
}

.line{
     border-left: 3px solid gray;
    height: 500px;
    position: absolute;
    left: 530px;
    top: 85px;
    opacity: 0.7;
    
}


input[type="text"] {
    width:95%;
    outline-color:none;
    border:2px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    transition: 0.3s;
    
}

input[type="password"] {
    width:95%;
    outline-color:none;
    border:2px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    transition: 0.3s;
    margin-bottom: 20px;
    
}

.jjj {
    height: 25px;
}
.pass{
    height: 25px;
}

input:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
    
}
.sign {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    width: 95%;
    margin-bottom: 20px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.5),
        1px 1px 5px rgba(0,0,0,.3) ;
    -webkit-transition:all 0.2s;
    
}

.sign:hover{
    background: black;
    color: #e3e3e3;
    
}

::placeholder{
    color:gray;
    opacity: 1;
    font-family: sans-serif;
}
 a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color:cornflowerblue;
}
p{
    font-weight: bold;
    
}
